<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <form action="/listings" method="POST">
                    <h2> Create New listings</h2><br>
                    <div class="mb-3">
                        <label for="title" class="form-label">Enter Title:</label>
                        <input type="text" name="listing[title]" placeholder="enter your title" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Enter Description:</label>
                        <textarea name="listing[description]" id="" placeholder="your memories...."
                            class="form-control" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Enter Image Url:</label>
                        <input type="text" name="listing[image]" class="form-control" >
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Enter price:</label>
                            <input type="number" name="listing[price]" placeholder="1000" class="form-control" required>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Enter Country:</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Enter Location:</label>
                        <input type="text" name="listing[location]" placeholder="jaipur," class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-dark add-btn">add</button><br><br>
                </form><br>
            </div>
        </div>
    </body>